{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col-6">
        <h1>login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success">login</button>
        </form>
        <br>
        <br><p>if you forgot your password <a href="{% url 'password_reset' %}">click</a></p>
    </div>
</div>
{% endblock content %}