{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}password change{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>password change</h1>
            <p>please enter your old password, for security's sake, and then entry
                your new password twice so we can verify you typed it in corrently.
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy}}<br>
                <input type="submit" value="change my password" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock content %}