{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}forgot your password {% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>forgot your password</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus porro odio quos id nulla? Voluptatem at maiores magni debitis cumque.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy}}<br>
                <input type="submit" value="confirm" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock content %}